<div>
	<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
		<div class="container"><a class="navbar-brand" href="#">Study Fuzz</a><button class="navbar-toggler"
				data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
					{{#if user}}
					<li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/profile">Profile</a></li>
					<a class="btn btn-light action-button" role="button" href="#">Log Out at {{user.email}} </a>
					{{else}}
					<li class="nav-item" role="presentation"><a class="nav-link" href="/auth/login">Login</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/auth/register">Register</a></li>

					<span class="navbar-text actions"> <a href="/auth/login" class="login">Log In</a><a
							class="btn btn-light action-button" role="button" href="/auth/register">Sign Up</a></span>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
</div>