<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="/auth/school/register" method="post">
            <h2 class="text-center"><strong>Create</strong> an account as a <strong>School</strong></h2>
            <div class="form-group"><input class="border rounded form-control" type="email" name="email"
                    placeholder="Email"></div><input class="border rounded form-control" type="text" name="name"
                placeholder="School Name" autocomplete="off"><input class="border rounded form-control" type="text"
                name="phone_number" placeholder="Enter Phone Number" autocomplete="">
            <div class="form-group"><input class="border rounded form-control" type="password" name="password"
                    placeholder="Password" autofocus="" autocomplete="off"></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                            type="checkbox">I agree to the license terms.</label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block border rounded" type="submit">Sign
                    Up</button></div><a href="/auth/school/login" class="already">You already have an account? Login
                here.</a>
        </form>
    </div>
</div>